/*html config*/
html{
  padding-top: 82px;
  background-color: lightgray;
  height: 100%;
}

body { 
  min-height: 100vh; 
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*Navbar size*/
.navbar {
  height: 82px;
  width: 100vw;
  border-bottom: 2px solid #F3F0EB;
}

/* Navbar list styling*/
.listOk { 
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color:#45413E;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:1rem;
  padding-bottom:40px;

  margin-top: 0.7rem;
} 

.positionIcons {
  margin-top: 0.4rem;
  padding: 1rem;
}

#hoverSelect {
  position: relative;
  display: inline-block;
  right: 30px;
  white-space: nowrap;
}

/* Select currency and language styling*/
.selectOk {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 1rem;
  color:#A9A8A7 !important;
  margin-bottom: 0.4rem;
}

/* Override bootstrap default*/
.form-select {
  border: 0px solid #ced4da !important;
  box-shadow: none !important;
}

/*Logo on navbar */
.navbar-brand {
  margin-left: 60px;
  margin-top: 5px;
}

/* Language and currency set color */
.colorGray {
  color: #A9A8A7;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: white;
  border: none;
  cursor: pointer;
  color: #45413E;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  right: 30px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #262A32;
  color: white !important;
  border-bottom: 2px solid #84BC22;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:1rem;
  padding-bottom:38px;

}

/* Turn on hover colors */
#hoverSelect:hover {
  background-color: #262A32;
  color:white;
  border-bottom: 2px solid #84BC22;
  
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top:1rem;
  padding-bottom:38px;

  margin-top: 0.7rem;

}

select.form-select.selectOk {
  width: fit-content;
}
