/*html config*/
html{
  padding-top: 70px;
  padding-left: 310px;
  padding-right: 310px;
  background-color: lightgray;
  
}

/*Navbar size*/
.navbar {
height: 4.7rem;
}

/* Navbar list styling*/
.listOk { 
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 1rem;
  color:#45413E;
  
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  margin-top: 0.7rem;
} 

.navbar-brand {
  margin-left: 4rem;
  margin-top: 10px;
}

/*Bottom border of the Navbar */
.container {
  border-bottom: 2px solid #F3F0EB;
  margin-top: 0px;
  margin-left: 0px;
  height: 79px;

  
  
}

/* Language and currency set color */
.colorGray {
  color: rgb(169,168,167);
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: white;
  border: none;
  cursor: pointer;
  color: #45413E;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: white;
}